# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias (se regeneran con npm install)
node_modules/
dist/
dist-ssr/
*.local

# Editor de código (VS Code, JetBrains, etc.)
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables de entorno (¡Súper importante no subirlas por seguridad!)
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# TypeScript
*.tsbuildinfo

# Varios
.eslintcache